debug.log
/staticfiles
**/__pycache__/
/venv

/db.sqlite3
.vscode/
.vs
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
/env
.env 
.venv
env.bak/ 
venv.bak/
/__pycache__
__pycache__/
*.log
*.pot
*.pyc
*/migrations/[!__init__]*.py
nginxlocal.conf
/app
/static
nohup.out
/media/*
!/media/img_styles/
.DS_Store
*.session
celerybeat-schedule